<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        const ten = 'Teo';
        const qty = 4;
        const email = `
          Xin chao ban ${ ten }, <br>
          Chung toi ra vui khi nhan duoc ${ qty } don hang tu ban. <br>
          Cam on ban.`;
        document.write(email);
        
        //console.log(email);

    </script>
</body>
</html>