/* Reset default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: red;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main styles */
main {
    display: flex;
    flex-wrap: wrap;
}

#content {
    flex: 2;
    padding: 20px;
}

#content article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

#content article img {
    width: 100%;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
}

/* Footer styles */
footer {
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
}
header img {
    width: 1000px; /* Thay đổi giá trị này cho phù hợp */
    height: auto; /* Để giữ tỷ lệ của ảnh */
}